<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="coneccion" connectionString="Data Source=DESKTOP-37QAO09\SQLEXPRESS;Initial Catalog=Northwind;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="WindowsFormsClases2018.Properties.Settings.NorthwindConnectionString"
      connectionString="Data Source=SMLAB304PC17_17;Initial Catalog=Northwind;Persist Security Info=True;User ID=SA;Password=Uisrael2018"
      providerName="System.Data.SqlClient" />
    <add name="WindowsFormsClases2018.Properties.Settings.NorthwindConnectionString1"
      connectionString="Data Source=DESKTOP-88G8J30\MSSQLSERVER01;Initial Catalog=Northwind;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="WindowsFormsClases2018.Properties.Settings.Vista"
      connectionString="Data Source=DESKTOP-37QAO09\SQLEXPRESS;Initial Catalog=Northwind;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>